<h1><a href='/'>Dashboard</a></h1>
<h2 class='text-center'>Water is <%= @garden.read ? 'ON' : 'OFF' %>
<form action="/" method="POST">
  <div class="form-group form-row">
    <div class='col'>
      <input type="submit" name="commit" value="water-on" class="form-control btn btn-success" <%= 'disabled' if @garden.read %>>
    </div>
    <div class='col'>
      <input type="submit" name="commit" value="water-off" class="form-control btn btn-danger" <%= 'disabled' unless @garden.read %>>
    </div>
  </div>
  <div class="form-group form-row">
    <div class="col">
      <input type="submit" name="commit" value='UP' class="form-control btn btn-primary">
    </div>
    <div class="col">
      <input type="submit" name="commit" value="DOWN" class="form-control">
    </div>
  </div>
</form>
<h2>Temperature</h2>
<%= @t1.read %>
