<h1>Dashboard</h1>
<form action="/relay" method="POST">
  <div class="form-group">
    <input type="submit" name="commit" value="Water" class="form-control btn btn-success">
  </div>
  <div class="form-row">
    <div class="col">
      <input type="submit" name="commit" value='UP' class="form-control btn btn-primary">
    </div>
    <div class="col">
      <input type="submit" name="commit" value="DOWN" class="form-control">
    </div>
  </div>
</form>
