<%# https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template %>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Home Automation</title>
  </head>
  <body>
    <nav class='navbar navbar-expand-sm navbar-light bg-light'>
      <a href='/' class='navbar-brand'>Dashboard</a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item'>
            <a href='/temperature' class='nav-link'>Temperatures</a>
          </li>
          <li class='nav-item'>
            <a href='/logs' class='nav-link'>Logs</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/chart.js/dist/Chart.bundle.js"></script>
  </body>
</html>
